{% extends 'base.html' %}
{% block content %}
<div class='col-md-6 offset-md-3'>
    {% if user.is_authenticated %}
        <h1>Hello user</h1>
    {% else %}
        <h1>Login in website</h1>
        <br>
        <form method='POST' action="{% url "home" %}">
            {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="test" class="form-control" name="username" required>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark">login</button>
        </form>
    {% endif %}
</div>
{% endblock content %}
